<br>
<div class="container" style="background: #fff; height: 500px !important; border: 2px solid #EAEAEC;" ng-init="roleview();">
  <div class="row">
    <div class="col-md-12" style="background:blueviolet; height: 60px; color: #fff !important;">
        

        <div class="d-flex">
            <div class="mr-auto p-3"><i class="fa-solid fa-bars"></i>  Role Section</div>
            <div class="p-2">
            <button class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg" data-whatever="@mdo"><i
            class="fa-solid fa-plus"></i> Add Role</button>
            </div>
       
           
           
        
    </div>    
  </div>
  </div>

  <div class="row" style="padding-top: 10px !important;">
    <div class="col-md-12 text-right">
        Search: <input type="text" ng-model="search" placeholder="Search by any index">
    </div>
  </div>

  <div class="row" style="padding-top: 10px !important;">
    <div class="col-md-12 text-right">

      <table width="100%" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center" width="10%">#</th>
                <th class="text-center" width="80%">Role Name</th>
                <th class="text-center" width="10%">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="x in role_data | filter:search">
                <td class="text-center">{{$index+1}}</th>
                <td class="text-justify">{{x.role}}</td>
                <td class="text-center">
                    <button class="btn-success" title="email" data-toggle="modal"
                    data-target="#exampleModalCenter" ng-click="role_edit(x.id)"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn-danger" title="Delete" ng-click="role_delete(x.id)"><i
                        class="fa-sharp fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
        
    </table>


    </div>
  </div>
</div>

<!-- Client Model Section -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <h2 class="text-center"><u>Role Entry Section</u></h2>
            <div class="container" style="padding-bottom: 20px !important;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Role Name</label>
                            <input type="text" class="form-control" ng-model="role">
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn btn-success" ng-click="roleentry()">Submit</button> &nbsp;
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Exit</button> &nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Update model section -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Update Role Section</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Role Name</label>
                        <input type="text" class="form-control" ng-model="role">
                        <input type="hidden" class="form-control" ng-model="idd">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="role_update()">Update</button>
        </div>
      </div>
    </div>
  </div>