<div style="padding:20px;">
  <div class="card" ng-init="sales_report()">
    <div class="card-header">
      Sales Report
    </div>
    <div class="card-body">
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="input-group mb-3">
            <input type="date" class="form-control">
            <input type="date" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-success" type="button">Seach</button>
              <button class="btn btn-danger" type="button">Download Excel</button>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">

          <table class="table table-bordered" style="font-size:11.5px" ng-show="part1">
            <thead>
              <tr>
                <th scope="col" width="5%" class="text-center">Sl</th>
                <th scope="col" width="10%" class="text-center">Client Name</th>
                <th scope="col" width="10%" class="text-center">Mobile No</th>
                <th scope="col" width="10%" class="text-center">State</th>
                <th scope="col" width="10%" class="text-center">Taxable Amt</th>
                <th scope="col" width="10%" class="text-center">CGST Amt</th>
                <th scope="col" width="10%" class="text-center">SGST Amt</th>
                <th scope="col" width="10%" class="text-center">IGST Amt</th>
                <th scope="col" width="10%" class="text-center">Total</th>
                <th scope="col" width="10%" class="text-center">View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in prdata">
                <td class="text-center">{{$index+1}}.</td>
                <td>{{x.name | uppercase}}</td>
                <td class="text-center">{{x.ph }}</td>
                <td class="text-center">{{x.state}}</td>
                <td class="text-center">&#8377;{{x.tax}}</td>
                <td class="text-center">&#8377;{{x.cgsta}}</td>
                <td class="text-center">&#8377;{{x.sgsta}}</td>
                <td class="text-center">&#8377;{{x.igsta}}</td>
                <td class="text-center">&#8377;{{x.total}}</td>
                <td class="text-center">
                  <button class="btn-success" ng-click="sr_view(x.ph)"><i class="fa-solid fa-eye"></i></button>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="4"><b>Grand Total:</b></td>
                <td class="text-center">&#8377;{{gtax}}</td>
                <td class="text-center">&#8377;{{gcgst}}</td>
                <td class="text-center">&#8377;{{gsgst}}</td>
                <td class="text-center">&#8377;{{gigst}}</td>
                <td class="text-center">&#8377;{{gtotal}}</td>
              </tr>
            </tbody>
          </table>



          <table class="table table-bordered" style="font-size:11.5px" ng-show="part2">
            <thead>
              <tr>
                <th scope="col" width="5%" class="text-center">Sl</th>
                <th scope="col" width="10%" class="text-center">Invoice No</th>
                <th scope="col" width="10%" class="text-center">Invoice Date</th>
                <th scope="col" width="10%" class="text-center">Vendore Name</th>
                <th scope="col" width="10%" class="text-center">GST No</th>
                <th scope="col" width="10%" class="text-center">State</th>
                <th scope="col" width="10%" class="text-center">Taxable Amt</th>
                <th scope="col" width="10%" class="text-center">CGST Amt</th>
                <th scope="col" width="10%" class="text-center">SGST Amt</th>
                <th scope="col" width="10%" class="text-center">IGST Amt</th>
                <th scope="col" width="10%" class="text-center">Total</th>
                <th scope="col" width="10%" class="text-center">View Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in pvdata1">
                <td class="text-center">{{$index+1}}.</td>
                <td>{{x.sinv}}</td>
                <td class="text-center">{{x.invdate | date : 'dd-MM-yyyy'}}</td>
                <td>{{x.name}}</td>
                <td class="text-center">{{x.gstno | uppercase}}</td>
                <td class="text-center">{{x.state}}</td>
                <td class="text-center">&#8377;{{x.tax}}</td>
                <td class="text-center">&#8377;{{x.cgsta}}</td>
                <td class="text-center">&#8377;{{x.sgsta}}</td>
                <td class="text-center">&#8377;{{x.igsta}}</td>
                <td class="text-center">&#8377;{{x.total}}</td>
                <td class="text-center">
                  <button class="btn-success" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="s_view(x.sinv)"><i class="fa-solid fa-eye"></i></button>
                </td>
              </tr>
              <tr>
                <td class="text-right" colspan="6"><b>Grand Total:</b></td>
                <td class="text-center">&#8377;{{gtax}}</td>
                <td class="text-center">&#8377;{{gcgst}}</td>
                <td class="text-center">&#8377;{{gsgst}}</td>
                <td class="text-center">&#8377;{{gigst}}</td>
                <td class="text-center">&#8377;{{gtotal}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Model Section  -->
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="card">
          <h5 class="card-header">View Sales Details</h5>
          <div class="card-body">
            <table class="table table-bordered" style="font-size:11.5px">
              <thead>
                <tr>
                  <th scope="col" width="5%" class="text-center">Sl</th>
                  <th scope="col" width="10%" class="text-center">Invoice No</th>
                  <th scope="col" width="10%" class="text-center">Product</th>
                  <th scope="col" width="10%" class="text-center">HSN</th>
                  <th scope="col" width="10%" class="text-center">Qty</th>
                  <th scope="col" width="10%" class="text-center">Unit</th>
                 
                  <th scope="col" width="10%" class="text-center">Exp Date</th>
                  <th scope="col" width="10%" class="text-center">Rate</th>
                  <th scope="col" width="10%" class="text-center">Tax</th>
                  <th scope="col" width="10%" class="text-center">GST%</th>
                  <th scope="col" width="10%" class="text-center">GST Amt</th>
                  <th scope="col" width="10%" class="text-center">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="y in pvdata">
                  <td class="text-center">{{$index+1}}.</td>
                  <td>{{y.sinv}}</td>
                  <td class="text-center">{{y.product}}</td>
                  <td>{{y.hsn}}</td>
                  <td class="text-center">{{y.qty}}</td>
                  <td class="text-center">{{y.unit}}</td>
                  
                  <td class="text-center">{{y.expdate}}</td>
                  <td class="text-center">&#8377;{{y.rate}}</td>
                  <td class="text-center">&#8377;{{y.tax}}</td>
                  <td class="text-center">{{y.gstper}}%</td>
                  <td class="text-center">&#8377;{{y.gstamt}}</td>
                    <td class="text-center">&#8377;{{y.total}}</td>
                  </td>
                </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>