<br>

  <div class="container" style="background: #fff; height: 750px !important; border: 2px solid #EAEAEC;"
    ng-init="teacher_training_allot();">
    <div class="row">
      <div class="col-md-12"
        style="background:blueviolet; height: 60px; color: #fff !important; display: flex; align-items: center;">
        <div class="mr-auto p-3"><i class="fa-solid fa-bars"></i> Upload Question Bank </div>
      </div>
    </div>


    <div class="row" style="padding-top: 10px !important;">

    </div>

    <div class="row" style="padding-top: 10px !important;">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Training Name</label>
          <select class="form-control" ng-model="tname" name="tname">
            <option></option>
            <option ng-repeat="x in training_allot_data">{{x.tname}}</option>
          </select>

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Question</label>
          <textarea class="form-control" ng-model="question"></textarea>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Option A</label>
          <input type="text" class="form-control" ng-model="option1">

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Option B</label>
          <input type="text" class="form-control" ng-model="option2">

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Option C</label>
          <input type="text" class="form-control" ng-model="option3">

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Option D</label>
          <input type="text" class="form-control" ng-model="option4">

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Answer</label>
          <input type="text" class="form-control" ng-model="answer">

        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-click="question_entry()">Submit</button>
        </div>
      </div>
    </div>
  </div>
